[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
scipy = "*"
dask = {extras = ["dataframe"],version = "*"}
jupyter = "*"
vaex = "*"
psutil = "*"
googledrivedownloader = "*"
tables = "*"
h5py = "*"
tqdm = "*"
seaborn = "*"

[requires]
python_version = "3.7"
