psycopg2-binary==2.8.3
requests-html==0.10.0
google-cloud-bigquery==1.21.0
jellyfish==0.7.2
pandas==0.25.2
redis==3.2
pandas-gbq==0.11.0
slackweb==1.0.5
google-api-python-client==1.7.11
firebase-admin==3.2.1
google-cloud-storage==1.24.1